@import "tailwindcss";

@font-face {
    font-family: "Butler";
    src: url("/fonts/Butler-Medium.woff2") format("woff2");
    font-weight: 500;
}
@font-face {
    font-family: "Cooper Hewitt";
    src: url("/fonts/CooperHewitt-Medium.woff2") format("woff2");
    font-weight: 500;
}
@font-face {
    font-family: "Cooper Hewitt";
    src: url("/fonts/CooperHewitt-Book.woff2") format("woff2");
    font-weight: 375;
}
@font-face {
    font-family: "Keep Calm";
    src: url("/fonts/Keep_Calm_Medium.woff2") format("woff2");
    font-weight: 500;
}

@theme {
    --color-main-color: hsl(186, 100%, 13%, 100%);
    --color-text-color: hsl(186, 100%, 13%, 80%);
    --color-footer-labels: hsl(186, 100%, 13%, 60%);
    --color-main-bg: hsl(187, 13%, 87%, 100%);
    --color-secondary-bg: hsl(47, 18%, 80%, 100%);
    --color-values-card-bg: hsl(47, 18%, 80%, 10%);
    --color-secondary-color: hsl(167, 24%, 66%, 100%);
    --color-values-card-bg-hoover: hsl(167, 24%, 66%, 10%);
    --color-white: hsl(0, 0%, 100%, 100%);
    --color-black: hsl(0, 0%, 0%, 100%);
    --shadow-custom: 0 0 30px -15px var(--color-black);
    --color-red: hsl(359, 100%, 61%, 100%);
    --main-gradient: linear-gradient(
        to right,
        hsl(52, 15%, 81%) 0%,
        hsl(192, 8%, 87%) 33%,
        hsl(164, 17%, 68%) 66%,
        hsl(188, 40%, 18%) 100%
    );
    --image-blur-abaut-us: linear-gradient(
        to bottom,
        hsl(187, 13%, 87%, 80%) 0%,
        hsl(187, 13%, 87%, 50%) 50%,
        hsl(187, 13%, 87%, 80%) 100%
    );
    --image-blur-landing-page: linear-gradient(
        to bottom,
        hsl(187, 13%, 87%, 20%) 0%,
        hsl(187, 13%, 87%, 100%) 100%
    );
    --butler: "Butler";
    --cooper-hewitt: "Cooper Hewitt";
    --keep-calm: "Keep Calm";
}

@layer utilities {
    .main-title {
        font-family: var(--butler);
        font-size: 64px;
        font-weight: 500;
        line-height: 112.5%;
        letter-spacing: 0;
        color: var(--color-main-color);
    }
    .subtitle {
        font-family: var(--cooper-hewitt);
        font-size: 24px;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0;
        color: var(--color-main-color);
    }
    .text {
        font-family: var(--cooper-hewitt);
        font-size: 20px;
        font-weight: 375;
        line-height: normal;
        letter-spacing: 0;
        color: var(--color-text-color);
    }
    .button {
        font-family: var(--keep-calm);
        font-size: 14px;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0;
        color: var(--color-main-bg);
    }
    .label {
        font-family: var(--cooper-hewitt);
        font-size: 14px;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0;
        color: var(--color-main-color);
    }
    .shadow-custom {
        box-shadow: var(--shadow-custom);
    }
    .bg-landing-overlay {
        background-image:
            var(--image-blur-landing-page), url("/landing_top_bg.JPG");
    }
}
@layer base {
    body {
        background-color: var(--color-main-bg);
    }
}
